xstata-mp:
  global:
    cpu: 4
    memory: 6144
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: false
    icon: /usr/share/icons/hicolor/48x48/apps/icon-stata.png
  13.1:
    command: /usr/local/bin/xstata-se-13.1
  14.0:
    default: true
    command: /usr/local/bin/xstata-mp-14
xstata-se:
  global:
    cpu: 1
    memory: 6144
    supports_memory_adjustable: true
    supports_cpu_adjustable: false
    supports_cli_mode: false
    icon: /usr/share/icons/hicolor/48x48/apps/icon-stata.png
  13.1:
    command: /usr/local/bin/xstata-se-13.1
  14.0:
    default: true
    command: /usr/local/bin/xstata-se-14
R:
  global:
    cpu: 1
    memory: 2048
    icon: /usr/share/icons/hicolor/48x48/apps/icon-R.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: true
  3.2:
    default: true
    command: /usr/bin/gnome-terminal
    args: 
      - -e /usr/bin/R
SAS:
  global:
    memory: 2048
    cpu: 1
    icon: /usr/share/icons/hicolor/48x48/apps/icon-sas.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: true
    args:
# -memsize 0 means unlimited memory
# http://support.sas.com/documentation/cdl/en/hostwin/63285/HTML/default/viewer.htm#win-sysop-memsize.htm
      - -memsize 0
  9.3:
    command: /nfs/tools/apps/sas/9.3/SASFoundation/9.3/sas
  9.4:
    default: true
    command: /nfs/tools/apps/sas/9.4_1/SASFoundation/9.4/sas
gauss:
  global: 
    memory: 2048
    cpu: 1
    icon: /usr/share/icons/hicolor/48x48/apps/icon-gauss.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: false
  8:
    command: /nfs/tools/apps/gauss/8.0/tgauss
  14:
    default: true
    command: /nfs/tools/apps/gauss/14.0/tgauss
mathematica:
  global:
    cpu: 1
    memory: 6144
    icon: /usr/share/icons/hicolor/48x48/apps/icon-mathematica-8.0.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: false
  10.1.0:
    command: /nfs/tools/apps/mathematica/10.1/Executables/Mathematica
  10.2.0:
    command: /nfs/tools/apps/mathematica/10.2.0/Executables/Mathematica
  10.3.0:
    default: true
    command: /nfs/tools/apps/mathematica/10.3/Executables/Mathematica
StatTransfer:
  global:
    memory: 2048
    cpu: 1
    icon: /usr/share/icons/hicolor/48x48/apps/icon-st.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: false
  12:
    default: true
    command: /nfs/tools/apps/StatTransfer12/stattransfer
matlab:
  global:
    memory: 12288
    cpu: 1
    icon: /usr/share/icons/hicolor/48x48/apps/icon-matlab.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: true
    args:
      - -singleCompThread
  R2010b:
    command: /nfs/tools/apps/matlab/R2010b/bin/matlab
  R2012a:
    command: /nfs/tools/apps/matlab/R2012a/bin/matlab
  R2013a:
    command: /nfs/tools/apps/matlab/R2013a/bin/matlab
  R2014a:
    command: /nfs/tools/apps/matlab/R2014a/bin/matlab
  R2014b:
    command: /nfs/tools/apps/matlab/R2014b/bin/matlab
  R2015a:
    default: true
    command: /nfs/tools/apps/matlab/R2015a/bin/matlab
rstudio:
  global:
    memory: 6144
    cpu: 1
    icon: /usr/share/icons/hicolor/48x48/apps/icon-R.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: false
  0.98:
    default: true
    command: /usr/bin/rstudio
octave:
  global:
    memory: 2048
    cpu: 1
    icon: /mnt/deployment/hmdc-admin/shared/system/xdg/HMDC-icon-octave.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: false
  3.4.3:
    default: true
    command: /usr/bin/octave
shell:
  global:
    memory: 2048
    cpu: 1
    icon: /usr/share/icons/gnome/32x32/apps/gnome-terminal.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: true
  2.31.3:
    default: true 
    command: /usr/bin/gnome-terminal
    command_nogui: $ENV(SHELL)
python:
  global:
    memory: 2048
    cpu: 1
    icon: /usr/share/icons/hicolor/48x48/apps/icon-python.png
    supports_memory_adjustable: true
    supports_cpu_adjustable: true
    supports_cli_mode: true
  '2.7':
    default: true
    command: /usr/bin/gnome-terminal
    command_nogui: /usr/local/bin/python27
    args:
      - -e /usr/local/bin/python27
  '3.3':
    command: /usr/bin/gnome-terminal
    command_nogui: /usr/local/bin/python33
    args:
      - -e /usr/local/bin/python33
