xstata-mp:
  global:
    memory: 4096
  13.1:
    default: true
    command: /nfs/tools/apps/stata/13.1/xstata-mp
xstata-se:
  global:
    memory: 2048
  13.1:
    default: true
    command: /nfs/tools/apps/stata/13.1/xstata-se
R:
  global:
    memory: 2048
  3.1:
    default: true
    command: /usr/bin/gnome-terminal
    args: 
      - -e /usr/bin/R
SAS:
  global:
    memory: 2048
    args:
# -memsize 0 means unlimited memory
# http://support.sas.com/documentation/cdl/en/hostwin/63285/HTML/default/viewer.htm#win-sysop-memsize.htm
      - -memsize 0
  9.3:
    default: true
    command: /nfs/tools/apps/sas/9.3/SASFoundation/9.3/sas
gauss:
  global: 
    memory: 2048
  8:
    command: /usr/local/bin/gauss-8.0
  14:
    default: true
    command: /usr/local/bin/gauss14
mathematica:
  global:
    memory: 6144
  10.0.1:
    default: true
    command: /nfs/tools/apps/mathematica/10.0.1/Executables/Mathematica
StatTransfer:
  global:
    memory: 2048
  12:
    default: true
    command: /nfs/tools/apps/StatTransfer12/stattransfer
matlab:
  global:
    memory: 6144
    args:
      - -singleCompThread
  R2010b:
    command: /nfs/tools/apps/matlab/R2010b/bin/matlab
  R2012a:
    command: /nfs/tools/apps/matlab/R2012a/bin/matlab
  R2013a:
    command: /nfs/tools/apps/matlab/R2013a/bin/matlab
  R2014a:
    command: /nfs/tools/apps/matlab/R2014a/bin/matlab
  R2014b:
    default: true
    command: /nfs/tools/apps/matlab/R2014b/bin/matlab
rstudio:
  global:
    memory: 6144
  0.98:
    default: true
    command: /usr/bin/rstudio
octave:
  global:
    memory: 2048
  3.4.3:
    default: true
    command: /usr/bin/octave
'sleep':
  global:
    memory: 2048
  '1.0':
    default: true
    command: /bin/sleep
    args:
      - 9000000s
shell:
  global:
    memory: 2048
  2.31.3:
    default: true 
    command: /usr/bin/gnome-terminal
    command_nogui: $ENV(SHELL)
python:
  global:
    memory: 2048
  '2.7':
    default: true
    command: /usr/bin/gnome-terminal
    command_nogui: /usr/local/bin/python27
    args:
      - -e /usr/local/bin/python27
  '3.3':
    command: /usr/bin/gnome-terminal
    command_nogui: /usr/local/bin/python33
    args:
      - -e /usr/local/bin/python33
